<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookinglist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <style>
    body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
    }

    .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/images/sunset-3008779_1280.jpg");
    min-height: 75%;
    }

    .menu {
    display: none;
    }

    .th, td {
		padding: 15px;
		width: 200px;
		text-align: center;
	}

	.center {
		padding-left: auto;
		padding-right: auto;
		margin: auto;
	}

</style>
</head>
<body>

    <div class="w3-top">
        <div class="w3-row w3-padding w3-black">
          <div class="w3-col s3">
            <a href="/index" class="w3-button w3-block w3-black">HOME</a>
          </div>
          <div class="w3-col s3">
            <a href="/catlist" class="w3-button w3-block w3-black">MEET THE CATS</a>
          </div>
          <div class="w3-col s3">
            <a href="/booktable" class="w3-button w3-block w3-black">BOOK A TABLE</a>
          </div>
          <div class="w3-col s3" sec:authorize="hasAuthority('ADMIN')">
            <a href="/bookinglist" class="w3-button w3-block w3-black">BOOKINGLIST</a>
          </div>
        </div>
      </div>

      <header class="bgimg w3-display-container w3-grayscale-min" >
        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small" sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')">
          <span class="w3-tag">Logged in as a <span sec:authentication="name"></span></span>
          <form th:action="@{/logout}" method="post">
            <button class="w3-button w3-black" type="submit">Sign out</button>
           </form>
        </div>
        <div class="w3-display-middle w3-center">
          <span class="w3-text-white" style="font-size:90px">Cat café<br>Meow</span>
        </div>
        <div class="w3-display-bottomright w3-center w3-padding-large" sec:authorize="!isAuthenticated()" >
            <a href="/login" class="w3-button w3-block w3-black">Sign in</a>
          </div>
        </header>

        <div class="w3-sand w3-grayscale w3-large"></div>

     <div style="padding-bottom: 20px">
        <h3 class="w3-center w3-padding-16"><span class="w3-tag w3-wide">BOOKINGS</span></h3>
        <table class="center w3-container w3-border" >
          <tr >
              <th>Username</th>
              <th>Name</th>
              <th>Guests</th>
              <th>Booking starts</th>
              <th>Booking ends</th>
              <th>Date</th>
          </tr>  
          <tr th:each = "booking : ${bookings}">
              <td th:text="${booking.appUser.username}"></td>
              <td th:text="${booking.appUser.firstname} + ' ' + ${booking.appUser.lastname}"></td>
              <td th:text="${booking.guestCount}"></td> 
              <td th:text="${booking.time}"></td>
              <td th:text="${booking.endingtime}"></td>
              <td th:text="${booking.bookingDate.getDayOfMonth()} + . + ${booking.bookingDate.getMonthValue()} + . + ${booking.bookingDate.getYear()}"></td> 
              <td sec:authorize="hasAuthority('ADMIN')"><a th:href ="@{/deletebooking/{id}(id=${booking.id})}">Delete</a></td>
              <td sec:authorize="hasAuthority('ADMIN')"><a th:href ="@{/editbooking/{id}(id=${booking.id})}">Edit</a></td>
          </tr>
       </table>
      </div>


</body>
</html>